{% block header %}
<header>
    <div class="banner">
        <h1 class="websiteTitle">Au Panier Gourmand!</h1>
        <img src="{{ asset( 'build/panier-garni-gauche-1.png') }}" width="15%" alt="logo" class="logo m-2">
        <h2 class="websiteSubtitle">
            <span class="text-slider-items">
                Le supermarché qui vient à vous!
            </span>
            <strong class="text-slider"></strong>
        </h2>
    </div>
</header>
{% endblock %}