{% extends 'base.html.twig' %} {% block title %} {{ parent() }}{% endblock %} {% block body %}

<h4>adresse de livraison</h4>

<div class="row">
    <div class="col">
        <label for="country" class="form-label col-sm">Ville</label>
        <select id="country" name="country" class="form-control">
      
      <optgroup label="">
        <option value="Lissac">Lissac</option>
        <option value="Labatut">Labatut</option>
        <option value="Saint Quirc">Saint Quirc</option>
        <option value="Canté">Canté</option>
      </optgroup>          
            
    </div>
</div>
    {% endblock %}